---
import Layout from '../layouts/Layout.astro'
import ThemeToggle from '../components/ThemeToggle'
---

<Layout title="Nate | Full stack web developer">
	<h1 class="dark:text-white">Hello</h1>
	<ThemeToggle client:load/>
</Layout>
